extends layout_admin

block scripts

block content
  .container-fluid
    ol.breadcrumb
      li
        a(href="/admin") Inicio
      li Administración
      li #{location}
      li.active #{name}
    .row
      .col-xs-12.col-md-6
        .panel.panel-info
          .panel-heading
            h1 Empleados
          .panel-body
            p Ir a la sección de empleados, tiene las siguientes opciones:
            ul
              li Registrar un nuevo empleado
              li Modificar los datos de un empleado existente
              li Eliminar un empleado
              li Ver el conjunto de empleados registrados para este aeropuerto
          .panel-footer
            a(href="/admin/config/#{location}/#{name}/employees") Ir a la sección