extends layout_home

block breadcrumb
  li
    i.fa.fa-home
    a(href='/index') Inicio
  li
    i.fa.fa-angle-right
    i.fa.fa-question
    | Ayuda

block menu_options_help
  li 
    a.tag(href="#")
      i.fa.fa-info-circle
      span Listado
  li
    a(href="/help#tasks_help")
      i.icon-minus
      span Estados de una tarea
  li
    a(href="/help#works_help")
      i.icon-minus
      span Estados de un trabajo
  li
    a(href="/help#employees_help")
      i.icon-minus
      span Estados de un empleado
  li
    a(href="/help#info_messages_help")
      i.icon-minus
      span Mensajes informativos
  li
    a(href="/help#confirm_messages_help")
      i.icon-minus
      span Mensajes de confirmación
  a#topAction(href="/help#top_help" title="Ir al inicio de la Ayuda")
    i.icon-arrow-up
block content
  .row-fluid#top_help
    .span4.box
      .box-header
        | Acciones para cada instalación
      .box-content
        .row-fluid
          .span12.box.yellow
            .box-header
              h2 Panel de Control
                i.fa.fa-gears
            .box-content
              p Esta acción entra en el panel de configuración y visualización global de cada instalación. Aquí podrá gestionar las tareas que se quieran realizar y se estén realizando.
              p También tendrá un resumen de los empleados activos en cada momento.
        .row-fluid
          .span12.box.green
            .box-header
              h2 Tareas
                i.fa.fa-tasks
            .box-content
              p Esta acción permite crear las diferentes tareas que se van a desarrollar.
        .row-fluid
          .span12.box.blue
            .box-header
              h2 Mapa
                i.fa.fa-globe
            .box-content
              p Esta acción permite editar la ubicación de los dispositivos bluetooth (Beacons) mediante un mapa interactivo.
        .row-fluid
          .span12.box.red
            .box-header
              h2 Empleados
                i.fa.fa-users
            .box-content
              p La sección de empleados, tiene las siguientes opciones:
              ul
                li Registrar un nuevo empleado
                li Modificar los datos de un empleado existente
                li Eliminar un empleado
                li Ver el conjunto de empleados registrados para este aeropuerto
        //.row-fluid
          .span12.box.purple
            .box-header
              h2 Dispositivos
                i.fa.fa-signal
            .box-content
              p La sección de Dispositivos, tiene las siguientes opciones:
              ul
                li Registrar un nuevo beacon y asignarle una ubicación en el mapa
                li Modificar y Eliminar los datos de un beacon existente
        .row-fluid
          .span12.box.black
            .box-header
              h2 Categorías
                i.fa.fa-th-list
            .box-content
              p Esta sección permite crear tipos para ser utilizados posteriormente en:
              ul
                li La asignación del tipo de empleado
                li La asignación del tipo de tareas
              p Esto servirá para que no existan errores a la hora de asignar las tareas por tipos de tareas y empleados.
    .span8.box
      .box-header
        | Ayuda General
      .box-content
        .row-fluid
          ul.list
            li
              h1 ¿Qué es una tarea?
              p Una tarea es aquella actividad que se desesa desarrollar en la instalación. Una tarea puede requerir a más de un empleado para su ejecución, por lo que se va a dividir en diferentes 
                strong trabajos.
              p Esto hace posible controlar qué empleados están asignados a cada tarea y en qué fase de desarrollo se encuentra en cada momento.
            li#tasks_help
              h1 Estados de una Tarea
              h2.blue
                i.fa.fa-tasks
                | Tareas Completadas
              p Una tarea está completada cuando 
                strong cada uno de los empleados 
                | ha confirmado que ha terminado dicha tarea.
              h2.green
                i.fa.fa-tasks
                | Tareas Activas
              p Una tarea está activa cuando 
                strong al menos uno de los empleados 
                | ha confirmado que ha empezado a realizar dicha tarea.
              h2.yellow
                i.fa.fa-tasks
                | Tareas Pendientes
              p Una tarea sigue pendiente mientras 
                strong  ningún empleado 
                | haya confirmado que ha empezado a realizar dicha tarea.
            li#works_help
              h1 Estados de un Trabajo
              h2.blue
                | Trabajos Completados
              p Un trabajo completado indica que el empleado ha confirmado que ha acabado de realizar esa labor.
              h2.green
                | Trabajos Activos
              p Los trabajos activos indican que en ese momento se está realizando parte de la actividad que se le ha asignado.
              h2.yellow
                | Trabajos Pendientes
              p Los trabajos pendientes son aquellos que se han asignado a algún empleado pero por algún motivo no se ha podido empezar a ejecutar.
              h2.red
                | Trabajos Pausados o Cancelados
              p Los trabajos 
                strong Pausados 
                | son aquellos que el empleado ha decidido pausar por algún motivo, por ejemplo una tarea de mayor prioridad. Siempre que un trabajo esté pausado se puede volver a reanudar, pasando de nuevo a ser un trabajo activo.
              p Los trabajos 
                strong Cancelados, 
                | a diferencia de los pausados, no se pueden volver a reanudar, lo cual implica una finalización de la actividad por parte del empleado por algún motivo. Esto se puede dar en diferentes casos, por ejemplo, una tarea que se creó y ya no tiene lugar hacerla debido a un cambio de situación.
            li#employees_help
              h1 Estados de un Empleado
              h2.green
                i.fa.fa-users
                | Activo
              p Un empleado está activo cuando está llevando a cabo alguna de las tareas que se le ha asignado.
              h2.yellow
                i.fa.fa-users
                | Espera
              p Un empelado está en espera siempre y cuando tenga trabajos por hacer y no haya comenzado ninguno.
              h2.red
                i.fa.fa-users
                | Desocupado
              p Un empelado se encuentra desocupado porque no tiene trabajos asignados en ese momento.
  .row-fluid
    .span12
      .box-header
        | Mensajes
      .box-content
        .row-fluid
          ul.list
            li#info_messages_help
              h1 Los mensajes informativos
              p Todos los mensajes informativos aparecerán el la parte superior derecha de la ventana.
              .row-fluid
                .span8
                  img(src="/images/help/pops_correct.png")
                  p Mensaje satisfactorio
                .span4
                  h2 Mensajes para acciones correctamente completadas.
                  p Este tipo de mensajes nos dan información acerca de la finalización de un evento, como puede ser el registro de una nueva Categoría, la asignación satisfactoria de un empleado a una tarea y demás acciones que se hayan completado sin incidencias.
              .row-fluid
                .span8
                  img(src="/images/help/pops_alert.png")
                  p Mensaje de alerta
                .span4
                  h2 Mensajes de alerta.
                  p Estos mensajes nos indicarán que ha habido alguna anomalía pero no se trata de un aviso de error, sirve para indicar eventos como, por ejemplo, la falta de empleados para poder realizar una asignación satisfactoria.
              .row-fluid
                .span8
                  img(src="/images/help/pops_error.png")
                  p Mensaje de error
                .span4
                  h2 Mensajes de error.
                  p Este tipo de mensajes nos aparecerán si se ha producido alguna anomalía en el sistema, por ejemplo, un registro de un usuario erróneo o la falta de campos obligatorios a la hora de crear un nuevo registro.
            li#confirm_messages_help
              h1 Los mensajes informativos
              p Todos los mensajes de confirmación también aparecerán el la parte superior derecha de la ventana y tendrán dos botones, para confirmar y para cancelar la operación.
              .row-fluid
                .span8
                  img(src="/images/help/pops_confirm.png")
                  p Mensaje de confirmación
                .span4
                  h2 Mensajes con confirmación
                  p Los mensajes de confirmación nos aparecerán para realizar operación que impliquen una alteración 'grave' de los datos, por ejemplo, la eliminación de un dispositivo o de un usuario. El botón de confirmación, nos permite continuar la operación mientrs que el de cancelar vuelve al estado en el que estaba antes de la modificación.
                  p A diferencia de los mensajes informativos, estos no se van de la pantalla hasta que se pulse alguna de las opciones, se haga click en el botón de cerrar dela parte superior derecha del mismo panel, o se cierre la dirección actual. Las dos últimas opciones tendrán el mismo efecto que el botón de cancelación.