extends layout_home

block breadcrumb
  li
    i.fa.fa-home
    a(href='/index') Inicio
  li
    i.fa.fa-angle-right
    i.fa.fa-question
    | Ayuda
block content
  .row-fluid
    .span4.box
      .box-header
        | Acciones para cada instalación
      .box-content
        .row-fluid
          .span12.box.yellow
            .box-header
              h2 Panel de Control
                i.fa.fa-gears
            .box-content
              p Esta acción entra en el panel de configuración y visualización global de cada instalación. Aquí podrá gestionar las tareas que se quieran realizar y se estén realizando.
              p También tendrá un resumen de los empleados activos en cada momento.
        .row-fluid
          .span12.box.green
            .box-header
              h2 Tareas
                i.fa.fa-tasks
            .box-content
              p Esta acción permite crear las diferentes tareas que se van a desarrollar.
              p Así como comtemplar un "timeline" de las actividades realizadas.
        .row-fluid
          .span12.box.blue
            .box-header
              h2 Mapa
                i.fa.fa-globe
            .box-content
              p Esta acción permite editar la ubicación de los dispositivos bluetooth (Beacons) mediante un mapa interactivo.
        .row-fluid
          .span12.box.red
            .box-header
              h2 Empleados
                i.fa.fa-users
            .box-content
              p La sección de empleados, tiene las siguientes opciones:
              ul
                li Registrar un nuevo empleado
                li Modificar los datos de un empleado existente
                li Eliminar un empleado
                li Ver el conjunto de empleados registrados para este aeropuerto
        //.row-fluid
          .span12.box.purple
            .box-header
              h2 Dispositivos
                i.fa.fa-signal
            .box-content
              p La sección de Dispositivos, tiene las siguientes opciones:
              ul
                li Registrar un nuevo beacon y asignarle una ubicación en el mapa
                li Modificar y Eliminar los datos de un beacon existente
        .row-fluid
          .span12.box.black
            .box-header
              h2 Categorías
                i.fa.fa-th-list
            .box-content
              p Esta sección permite crear tipos para ser utilizados posteriormente en:
              ul
                li La asignación del tipo de empleado
                li La asignación del tipo de tareas
              p Esto servirá para que no existan errores a la hora de asignar las tareas por tipos de tareas y empleados.