doctype html
html(ng-app='aMap')
  head
    title #{title}
    meta(charset='utf-8',name="viewport", content="initial-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/theme-bs.css')
    link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:900,900italic,500,400italic,100,700italic,300,700,500italic,100italic,300italic,400')

  body
    nav.navbar.navbar-inverse(role = "navigation")
      .navbar-header
        button.navbar-toggle(data-target = "#navbar-ex1-collapse", data-toggle = "collapse", type = "button")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href = "/admin") Admin Panel
      // Top Menu Items

      ul.nav.navbar-nav.collapse.navbar-collapse.navbar-right#navbar-ex1-collapse
        li
          a(href = "/admin/employee")
            i.fa.fa-fw.fa-users
            |   Empleados
        li
          a(href = "/admin/beacon")
            i.fa.fa-fw.fa-signal
            |   Beacons
        li
          a(href = "/")
            i.fa.fa-fw.fa-power-off
            |   Salir
    block content
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
  
block scripts