extends layout_login
      
block content
  .container
    .row
      .login-card
        h1 Acceso a la plataforma
        br
        form(action="/index", method='GET',role='form')
          input(type='text', name='user', placeholder='ID Usuario')
          input(type='password', name='pass', placeholder='Contraseña')
          input.login.login-submit(type='submit', name='login', value='Acceder')