nav{
	border-radius: 0 !important;
}

nav i
nav .brand{
	color: #FFFFFF !important;
}

.table-responsive{
  overflow: auto;
}

.actions-group .left{
  float: left !important;
}
.actions-group{
  text-align: right;
}
.actions-group button,
.actions-group a{
  padding: 0 4%;
}

.actions-group form{
  display: inline;
}
input.hide{
  display: none;
}
.labels {
  color: red;
  background-color: white;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  width: 40px;
  border: 2px solid black;
  white-space: nowrap;
}
.right{
  text-align: right;
}
.no-resize{
  resize: none;
}

span.sw *{
  font-size: 0.5em;
}
input.switch:empty{
  margin-left: -999px;
}

input.switch:empty ~ label{
  position: relative;
  float: left;
  line-height: 1.6em;
  text-indent: 4em;
  margin: 0.2em 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.switch:empty ~ label:before, 
input.switch:empty ~ label:after{
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  width: 3.6em;
  background-color: #c33;
  border-radius: 0.3em;
  box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

input.switch:empty ~ label:after{
  width: 1.4em;
  top: 0.1em;
  bottom: 0.1em;
  margin-left: 0.1em;
  background-color: #fff;
  border-radius: 0.15em;
  box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.switch:checked ~ label:before{
  background-color: #393;
}

input.switch:checked ~ label:after{
  margin-left: 2.1em;
}
